@import "./reset.css";
@import "./helpers.less";

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Poiret+One");

/* GENERAL RULES */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}
h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 40px 20px;
}

/* HERO SECTION */
section#hero {

  /* Hero Background image */
  background-image: -webkit-linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-image: -o-linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .nav > .nav-item {
    display: inline-block;
    a {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 30px;
      padding-bottom: 3px;
      border-bottom: 4px solid white transparent;
      transition: border-bottom 0.1s, color 0.1s;
      &:hover {
        border-bottom: 4px solid white;
        transition: border-bottom 0.1s, color 0.1s;
      }
    }
  }

  /* Call to action */
  .cta {
    display: inline-block;
    margin-top: 90px;
    position: relative;
    .cta-imgs {
      float: right;
      position: absolute;
      right: -135px;
      .iphone {
        width: 85%;
        position: relative;
        margin-bottom: -240px;
      }
    }
    .cta-info {
      float: left;
      width: 60%;
      padding-right: 150px;
      h2.cta-heading {
        color: white;
        margin-bottom: 40px;
      }
      p.cta-para {
        font-size: 36px;
        line-height: 40px;
        font-family: 'Poiret One', cursive;
        color: white;
        margin-bottom: 55px;
      }
      .cta-button {
        padding: 23px 35px;
        background: #282828;
        color: white;
        text-decoration: none;
        border-radius: 50px;
        transition: 0.3s;
        &:hover {
          background: #383737;
          transition: 0.3s;
        }
        .phone-icon {
          vertical-align: middle;
          padding-right: 20px;
        }
      }
    }
  }
}
