@import "./reset.css";
@import "./helpers.less";

/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}


/* GENERAL RULES */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}
h2 {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}

.block {
  display: block;
}

#container() {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}


/* HERO SECTION */
section#hero {

  /* Hero Background image */
  background-image: -webkit-linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-image: -o-linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-image: linear-gradient(rgba(218, 51, 46, 0.6), rgba(218, 51, 46, 0.6)), url('../img/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* container */
  .container {
    #container;
    /* Navigation */
    .nav > .nav-item {
      display: inline-block;
      a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 30px;
        padding-bottom: 3px;
        border-bottom: 4px solid white transparent;
        transition: border-bottom 0.1s, color 0.1s;
        &:hover {
          border-bottom: 4px solid white;
          transition: border-bottom 0.1s, color 0.1s;
        }
      }
    } /* End Navigation */
    /* Call to action */
    .cta {
      display: inline-block;
      margin-top: 90px;
      position: relative;
      .cta-imgs {
        float: right;
        position: absolute;
        right: -135px;
        .iphone {
          width: 85%;
          position: relative;
          margin-bottom: -240px;
        }
        .iphone-on {
          position: absolute;
          right: 172px;
          top: 107px;
          width: 55%;
        }
        .iphone-btn {
          position: absolute;
          right: 215px;
        }
      }
      .cta-info {
        float: left;
        width: 60%;
        padding-right: 150px;
        h2.cta-heading {
          color: white;
          margin-bottom: 40px;
        }
        p.cta-para {
          font-size: 36px;
          line-height: 40px;
          font-family: 'HelveticaNeue-Thin';
          color: white;
          margin-bottom: 55px;
        }
        .cta-button {
          padding: 23px 35px;
          background: #282828;
          color: white;
          text-decoration: none;
          border-radius: 50px;
          transition: 0.3s;
          &:hover {
            background: #383737;
            transition: 0.3s;
          }
          .phone-icon {
            vertical-align: middle;
            padding-right: 20px;
          }
        }
      }
    } /* End Call to action */
  } /* End container */
}  /* End Hero section */

/* APP FEATURES SECTION */
section#app-features {
  /* Container */
  .container {
    #container;
    text-align: center;
    padding: 60px 20px;
    .app-features-heading {
      color: #8a8a8a;
      margin-bottom: 40px;
      text-transform: uppercase;
    }
    .app-features-p {
      font-family: 'HelveticaNeue-Thin';
      font-size: 22px;
      line-height: 28px;
      padding: 0px 130px;
    }
    /* Row with app features */
    .row {
      overflow: hidden;
      margin-top: 50px;
      .col-4-app {
        width: 33.33%;
        float: left;
        padding: 0px 45px;
        .feature-img {

        }
        .feature-heading {
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 30px 0;
        }
        .feature-p {
          font-family: 'HelveticaNeue-Thin';
          font-size: 18px;
          line-height: 24px;
          color: #646464;
        }
      }
    } /* End row */
  } /* End container */
} /* End app features section */

/* Download section */
section#download {
  /* Section background */
  background-image: url('../img/nose-bg.png');
  background-size: cover;
  background-position: center;
  /* container */
  .container {
    #container;
    padding: 0;
    .download-info {
      width:50%;
      padding: 200px 0px;
      .download-heading {
        color: white;
        margin-bottom: 40px;
        .another-color {
          color:  #f55150;
        }
      }
      .download-p {
        font-size: 24px;
        line-height: 30px;
        font-family: 'HelveticaNeue-Thin';
        margin-bottom: 50px;
      }
      .download-button {
        background-color: #d9332d;
        border-radius: 50px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding: 15px;
        transition: 0.3s;
        margin-left: 20px;
        &:hover {
          background-color: #c33934;
          transition: 0.3s;
        }
      }
    }
  } /* End container */
} /* End Download section */

/* Footer section */
footer#footer {
  background-color: #2e2e38;
  color: white;
  /* Container */
  .container {
    #container;
    padding: 120px 20px;
    // Footer logo
    .footer-logo {
      .footer-logo-img {

      }
    } // End footer logo
    // Row
    .row {
      overflow: hidden;
      margin-top: 77px;
      .col-4-footer {
        width: 33.33%;
        float:left;
        padding: 30px;
        .footer-heading {
          font-size: 20px;
          margin-bottom: 25px;
        }
        .popular-posts {
          font-family: 'HelveticaNeue-Thin';
          .popular-posts-item {
            list-style: none;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 5px;
            background: url("../img/rectangle.png") no-repeat;
            padding-left: 70px;

          }
        }
        .tweeter {
          font-family: 'HelveticaNeue-Thin';
          .tweeter-item {
            list-style: none;
            margin-bottom: 25px;
            .small-text {
              font-size: 11px;
            }
          }
        }
        .about-p {
          font-size: 15px;
          font-family: 'HelveticaNeue-Thin';
          font-style: italic;
        }
      }
    } // End row
  } // End container
} // End footer

/* COPYRIGHT */
section#copyright {
  background-color: #d7dedc;
  .container {
    #container;
    padding: 40px 0;
    text-align: center;
    .inline {
      display: inline-block;
      font-size: 20px;    }
    .cr, .me {
      margin-right: 40px;
      &:after {
        content: "";
        border: 1px solid #555;
        margin-left: 35px;
      }
    }
    .social {
      position: relative;
      top: 10px;
      .fb, .tw {
        margin-right: 40px;
      }
    }
  }
}
/* END COPYRIGHT SECTION */

/* ANIMATIONS */
.iphone-js-wp {
  opacity: 0;
  &.animated {
    opacity: 1;
    .iphone-on {
      animation-delay: 3.2s;
    }
  }
}
